PORT=5000
SUPABASE_URL=https://ghzojbnpdhbaxxjikscw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdoem9qYm5wZGhiYXh4amlrc2N3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Njg3MjcwOSwiZXhwIjoyMTAyNDQ4NzA5fQ.FwkccIapCO_cPM8mczW9Wu4x_DS6-LAYdmzcI7pefA0
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdoem9qYm5wZGhiYXh4amlrc2N3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4NzI3MDksImV4cCI6MjEwMjQ0ODcwOX0.GOsyhI4weBqVoiSmH8ogH1-Ff1EurXb_qX-h83Xexq8
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
GEMINI_API_KEY=AQ.Ab8RN6IAIcjWFzp88V3RMV5dcqoScavEv3KdKbk8TiGlK22D8A
OPENROUTER_API_KEY=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
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
NODE_ENV=development
